 /*font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;*/
:root{
    --blue:#2D2F68;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
/*========navbar part start here========*/
nav{
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 16px 0;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 48px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 32px;
}
.nav-menu ul li a{
    font-size: 16px;
    line-height: 28%;
    font-weight: 500;
    color:#BBBBCB;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    transition: all linear 0.8s;
}
.nav-menu ul li a:hover{
    color: #F4F6FC;
}
.nav-btn a{
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color:#BBBBCB;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif; 
      transition: all linear 0.8s;
    border-radius: 41px;
    border: 2px solid #BBBBCB ;
    padding: 16px 48px;
}
.nav-btn a:hover{
    color: #F4F6FC;
}
/*========navbar part end   here========*/

/*========banner part start here========*/
#banner{
    background-color: var(--blue);
    padding: 218px 0 128px 0;
}
.banner-wrapper{
    display: flex;
    align-items: center;
    column-gap: 60px;
}
.banner-content{
    width: 582px;
}
.banner-img{
    width: 638px;
}
.banner-content h6{
    font-size: 54px;
    font-weight:600 ;
    line-height: 74px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif; 
    width: 582px;
    color: #F4F6FC;
}
.banner-content p{
    color: #F4F6FC;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    width: 562px;
    padding: 24px 0 48px 0;
}
.banner-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}
.banner-btn a{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    background-color: #FCD980;
    color: #000000;
    padding: 16px 56px;
    border-radius: 41px;
    border: none;
}
.banner-btn a:last-child{
    color: #F4F6FC;
    background-color: transparent;
}
.txt-btn{
    column-gap: 16px;
    display: flex;
    align-items: center;
}

/*========banner part end   here========*/

/*====work part start here========*/
#work{
    padding: 128px 0;
}
.work-wrapper{
    display: flex;
    column-gap: 142px;
}
.work-content{
    width: 405px;
}
.section-heading{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: 'Poppins', sans-serif; 
    text-transform: capitalize;
    color:#000000;
}
.paragraph{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    padding: 16px 0 16px 0;
}
.work-content a{
    color: #2405F2;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
}
.work-card{
    width: 656px;
    margin-right: 77px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}
.card{
    width: 50%;
}
.card h4{
    font-family: 'Poppins', sans-serif; 
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    padding: 16px 0 8px 0;
}
.card p{
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/*========work part end   here========*/

/*========project part start here========*/
#project{
    padding: 128px 0;
}
.project-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}
.project-heading a{
    color: #000000;
}
.project-heading a i{
    vertical-align: center;
    margin-left: 16px;
}
.project-main{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.big-project{
   width: 843px;
   height: 600px;
   overflow: hidden;
   position: relative;
}
.big-project img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.big-project .overlay{
    height: 100%;
    position: absolute;
    width: 396px;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    z-index: 55;
    left: -396px;
    top: 0;
    padding: 312px 35px 76px 48px;
    transition: all linear 0.6s;
}
.big-project .overlay h4{
    width: 313px;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-family: 'Poppins', sans-serif;
    color: #F4F6FC;
}
.big-project .overlay p{
    text-transform:none;
    width: 293px;
    color: #F4F6FC;
    margin-top: 16px;
    margin-bottom: 40px;
}
.big-project .overlay a{
    color: #FCD980;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 16px;
}
.big-project:hover .overlay{
    left: 0;
}
.small-project{
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    width: 405px;
}
.small-project-item{
    width: 100%;
    overflow: hidden;
    height: 284px;
    position: relative;
}
.small-project-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.small-project-item .overlay{
    position: absolute;
    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    left: 0;
    top: 0;
    padding: 129px 36px 45px 56px;
    transition: all linear 0.6s;
     height: 100%;
    width: 100%;

}
.small-project-item .overlay h5{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-family: 'Poppins', sans-serif;
    color: #F4F6FC;
    width: 290px;
    margin-bottom: 16px;
}
.small-project-item .overlay a{
    color: #FCD980;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 16px;
}
.small-project-item:hover .overlay{
    opacity: 1;
}
/*========project part end   here========*/

/*========features part start here========*/
#features{
    padding: 128px 0;
    background-color: #F4F6FC;
}
.features-heading{
    text-align: center;
}
.features-heading h1{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
    color: #282938;
}
.features-heading .section-heading{
    margin: 12px auto 47px auto ;
    width: 630px;
}
.features-wrapper{
    display: flex;
    row-gap: 24px;
    column-gap: 32px;
    flex-wrap: wrap;
}
.features-item{
    width: 405px;
    background-color: aliceblue;
    padding: 58px 32px 48px 48px;
}
.features-item .features-icon i{
    color: #2405F2;
    font-size: 25px;
}
.features-item h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 22px;
    font-family: 'Poppins', sans-serif;
    color: #282938;
}
.features-item p{
  font-family: 'Poppins', sans-serif;
  margin-top: 12px;
  font-size: 16px;
  line-height: 400;
  line-height: 28px;
  opacity: 0.7;
  color: #282938;
}
/*========features part end   here========*/

/*========testimonial part start here========*/
#testimonial{
    padding: 128px 0;
    background-color: #f4f6fcab;
}
.testimonial-wrapper{
    display: flex;
    column-gap: 110px;
    justify-content: space-between;
}
.testimonial-heading{
    width: 327px;
}
.testimonial-heading h5{
     font-size: 38px;
     font-weight: 600;
     line-height: 56px;
     color: #000000;
     opacity: 0.7;
     font-family: 'Poppins', sans-serif;
     text-transform: capitalize;
     margin-bottom: 16px;
}
.testimonial-heading p{
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    color: #282938;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.testimonial-content{
    width: 843px;
}
.content-heading h6{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 48px;
    color: #282938;
}
.client-avatar{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}
.client-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-profile{
    display: flex;
    column-gap: 14px;
    align-items: center;
}
.client-details h4{
font-weight: 500;
font-size: 18px;
font-family: 'Poppins', sans-serif;
color: #282938;
}
.client-details h1{
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #282938;
}


/*========testimonial part end   here========*/

/*========faq part start here========*/
#faq{
    padding: 128px 0;
}
.faq-wrapper{
    display: flex;
    justify-content: space-between;
}
.faq-heading{
    width: 328px;
}
.faq-heading h2{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
font-size: 38px;
font-weight: 600;
line-height: 56px; 
}
.faq-heading a{
    color: var(--Royal-Blue, #2405F2);
text-align: center;
font-size: 18px;
font-weight: 500;
line-height: 32px;
font-family: 'Poppins', sans-serif;
}
.faq-main{
    width: 846px;
}
.faq-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #ECECF1;
    padding: 32px 0;
}
.faq-info{
    display: flex;
    column-gap: 53px;
}
.faq-number span{
    color: var(--Royal-Blue, #2405F2);
text-align: center;
font-size: 24px;
font-weight: 500;
line-height: 36px; 
font-family: 'Poppins', sans-serif;
}
.faq-details h3{
    color: var(--Dark-blue, #282938);
font-size: 24px;
font-weight: 500;
line-height: 36px; 
font-family: 'Poppins', sans-serif;
}
.faq-details p{
    color: var(--Dark-blue, #282938);
font-size: 18px;
font-weight: 500;
line-height: 32px;
font-family: 'Poppins', sans-serif;
opacity: 0.87;
padding: 16px 16px 0 0;

}
.faq-icon i{
    color: #282938;
    opacity: 0.7;
    font-size: 18px;
    line-height: 36px;
}
.faq-main .faq-item:last-child{
    border-bottom: none;
}
/*========faq part end   here========*/

/*========inquiry part start here========*/
#inquiry{
    padding: 128px 0;
}
.inquiry-wrapper{
    display: flex;
}
.inquiry-img{
    width: 656px;
    height: 691px;
    position: relative;
    overflow: hidden;
}
.imquiry-img picture{
    width: inherit;
    height: inherit;
}
.inquiry-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.inquiry-img .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%; 
    width: 100%;
    background-color: rgba(28, 30, 83, 0.5);
    padding: 96px;
}
.overlay h4{
    color: var(--White, #FFF);
font-size: 54px;
font-weight: 600;
line-height: 74px;
font-family: 'Poppins', sans-serif;
width: 464px;
}
.overlay p{
    color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 28px;
font-family: 'Poppins', sans-serif;
width: 464px;
margin-top: 24px; 
}
.inquiry-form{
    width: 624px;
    height: 691px;
    background-color: #1C1E53;
    padding: 96px 96px 48px 96px;
}
.inquiry-form h4{
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    font-family: 'Poppins', sans-serif;
    width: 432px;
}
.inquiry-form p{
    color: var(--Grey, #F4F6FC);
    font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 28px; 
width: 432px;
margin-top: 16px;
margin-bottom: 40px;
}
.inquiry-form form input{
    padding: 18px 32px;
    background-color: transparent;
    width: 432px;
    height: 64px;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
    color: var(--Grey, #F4F6FC);
    font-size: 16px;
   font-weight: 400;
   line-height: 28px; 
   font-family: 'Poppins', sans-serif;
   margin-bottom: 16px;
}
.inquiry-form button {
    width: 432px;
    height: 64px;
    background-color: #FCD980;
    border-radius: 41px;
    border: none;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.inquiry-form button a{
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.inquiry-form a{
    color: var(--White, #FFF);
font-size: 18px;
font-weight: 500;
line-height: 32px;
font-family: 'Poppins', sans-serif;
margin-top: 25px;
text-align: center;
display: block;
}
.inquiry-form a i{
    margin-right: 16px;
}
/*========inquiry part end   here========*/

/*========blog part start here========*/
#blog{
    padding: 128px 0;
}
.blog-heading h5{
    text-transform: capitalize;
    color: var(--Dark-blue, #282938);
font-size: 48px;
font-weight: 600;
line-height: 64px; 
font-family: 'Poppins', sans-serif;
}
.blog-wrapper{
    display: flex;
    column-gap: 32px;
    margin-top: 64px;
}
.blog-card{
    height: 609px;
    width: 405px;
}
.blog-card picture{
    width: 405px;
    height: 285px;
    overflow: hidden;
}
.blog-card h1{
    color: var(--Dark-blue, #282938);
font-size: 16px;
font-weight: 500;
line-height: 28px; 
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
opacity: 0.7;
margin: 40px 0 16px 0;
}
.blog-card h3{
    color: var(--Dark-blue, #282938);
font-size: 24px;
font-weight: 500;
line-height: 36px;
font-family: 'Poppins', sans-serif;
}
.blog-card h2{
    color: var(--Dark-blue, #282938);
font-size: 16px;
font-weight: 400;
line-height: 28px;
font-family: 'Poppins', sans-serif;
margin: 16px 0 32px 0;
}
.blog-card a{
    color: #282938;
font-size: 16px;
font-weight: 500;
line-height: 28px;
font-family: 'Poppins', sans-serif; 
}
.blog-card a i{
    margin-right: 12px;
}
/*========blog part end   here========*/

/*========footer part start here========*/
#footer{
    margin-top: 128px;
    background-color: #1C1E53;
    padding-left: 160px;
}
.footer-info{
    padding: 96px 382px 95px 160px;
    display: flex;
    justify-content: space-between;
    column-gap: 259px;
    height: 397px;
}
.footer-logo h3{
    color: var(--White, #FFF);
font-size: 16px;
font-weight: 500;
line-height: 28px;
opacity: 0.8;
width: 399px;
font-family: 'Poppins', sans-serif; 
margin-top: 22px;
}
.footer-item h5{
    color: #FFF;
font-size: 48px;
font-weight: 600;
line-height: 64px;
font-family: 'Poppins', sans-serif; 
width: 333px;
}
.footer-item h3{
    color: var(--Grey, #F4F6FC);
font-size: 16px;
font-weight: 400;
line-height: 28px;
width: 399px;
opacity: 0.8;
font-family: 'Poppins', sans-serif; 
}
.footer-item-icon{
    display: flex;
    margin-top: 28px;
    column-gap: 26.67px;
    color: #F4F6FC;
}
.contact-info{
    width: 517px;
height: 95px;
background-color: #FCD980;
padding: 18px 137px 17px 37px;
display: flex;
column-gap: 29px;
}
.contact-info .email h2{
    color: var(--Dark-blue, #282938);
font-size: 18px;
font-weight: 500;
line-height: 32px;
font-family: 'Poppins', sans-serif; 
}
.contact-info .email h1{
    color: var(--Dark-blue, #282938);
font-size: 16px;
font-weight: 400;
line-height: 28px;
font-family: 'Poppins', sans-serif; 
margin-top: 1px;
opacity: 0.8;
}
.contact-info .call h2{
    color: var(--Dark-blue, #282938);
font-size: 18px;
font-weight: 500;
line-height: 32px;
font-family: 'Poppins', sans-serif; 
}
.contact-info .call h1{
    color: var(--Dark-blue, #282938);
font-size: 16px;
font-weight: 400;
line-height: 28px;
font-family: 'Poppins', sans-serif; 
margin-top: 1px;
opacity: 0.8;
}
#footer-link{
    padding: 32px 0;
}
.link-wrapper{
    display: flex;
    column-gap: 567px;
    align-items: center;
}
.copyright h1{
    color: var(--Dark-blue, #282938);
font-size: 16px;
font-weight: 500;
line-height: 28px; 
font-family: 'Poppins', sans-serif; 
}
.link-menu{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.link-menu ul li a{
    color: var(--Dark-blue, #282938);
font-size: 16px;
font-weight: 500;
line-height: 28px;
font-family: 'Poppins', sans-serif; 
text-transform: capitalize;
}
/*========footer part end   here========*/